/* Add any CSS rules for Angular module "CsvImportHelper" */
table.csv-helper tr {
  background:#eee;
  border-bottom:solid 1px #e8e8e8;
}
table.csv-helper tr.found {
  background-color:#e0ffd0;
}
table.csv-helper tr.chosen {
  background-color:#d8f8c0;
}
table.csv-helper tr.multiple {
  background-color:#f0e0d0;
}
table.csv-helper tr.impossible {
  background-color:#f0c8c0;
}
table.csv-helper ul {
  list-style: disc inside;
  padding-left:0.6em;
}
div.csv-helper-cols {
  display:flex;
}
div.csv-helper-cols__left {
  flex:1 1 auto;
  padding-right:1rem;
}
div.csv-helper-cols__right {
  text-align:right;
  flex:0 auto;
}

