<div class="crm-container" id="csv-import-helper-app">
  <div crm-ui-tab-set id="csv-import-helper-tabset">
    <div crm-ui-tab crm-title="ts('Upload CSV')" id="tab-upload">
      <h2 ng-show="csvRecords.length > 0">CSV Data uploaded.</h2>
      <div class="help" ng-show="csvRecords.length == 0" >
        <p>{{ts('No data uploaded. Do that now.')}}</p>
      </div>
      <div class="help" ng-show="csvRecords.length > 0" >
        <p>{{ts('Uploading new data will lose any work you have done on the currently uploaded dataset.')}}</p>
      </div>
      <form>
        <label for="csv-upload" >Select your CSV file</label>
        <input type="file" id="csv-upload" name="csv-upload" csv-change="uploadFile" />
      </form>
      <h2>How to use</h2>
      <p>This tool takes a .csv file and tries to clean names and find the
      right people (with your help), and then outputs a new version including a
      CiviCRM Internal ID as the first column.</p>

        <p>The first four column MUST be as follows</p>

        <ol>
          <li>Title</li>
          <li>First name</li>
          <li>Last name</li>
          <li>Email</li>
        </ol>

        <p>It is fine (and quite common) for one or more of these to be blank.</p>

        <p>If only the first name column is used, this name is considered for unpacking into different columns, for example the following text in the first name column would be split out into title, first and last name columns:</p>

        <ul>
          <li>Mr. Fred Flintstone</li>
          <li>Wilma Flintstone</li>
          <li>Rubble, Barney</li>
        </ul>

        <p>The resulting .csv file is then more useful as data for the various core CiviCRM import tools.</p>
    </div>
    <div crm-ui-tab active crm-title="ts('Process Records')" id="tab-process" selected >
      <div class="help" ng-show="csvRecords.length == 0" >
        <p>{{ts('No data uploaded. Do that now.')}}</p>
      </div>
      <div ng-show="csvRecords.length > 0" >
        <h2>{{ ts('Data to process') }}</h2>
        <p>
        <button
          ng-show="countNoMatch()"
          crm-confirm="{message: ts('Create contacts where there is no match?')}"
          on-yes="createContacts()" >{{ ts('Create %n Missing Contacts', {'%n' : countNoMatch()}) }}</button>
        <button ng-click="recheck()" >Re-check</button>
        </p>
        <table class="csv-helper">
          <thead>
            <tr>
              <th>Who</th>
              <th>Resolution<th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(rowIndex, row) in csvRecords" class="{{ row.state }}">
              <td>{{ row.fname }} {{ row.lname }} ({{ row.set_count }})<br />{{ row.email }}</td>
              <td>
                <!-- chosen/found contact  -->
                <div ng-if="row.contact_id > 0" >
                  <div class="csv-helper-cols">
                    <div class="csv-helper-cols__left">
                      <span ng-if="row.state == 'chosen'">Chosen</span>
                      <span ng-if="row.state == 'found'">Found</span>
                      <a href="{{ CRM.url('civicrm/contact/view', {reset:1, cid:row.contact_id}) }}" target="_blank">{{ selectedContact(row) }}</a>
                    </div>
                    <div class="csv-helper-cols__right">
                      <button ng-click="unChooseContact()" >{{ ts( row.state == 'chosen' ? 'Reset' : 'Change' ) }}</button>
                    </div>
                  </div>
                </div>
                <!-- multiple matches -->
                <div ng-if="row.contact_id == 0 && row.resolution.length > 0">
                  {{ row.resolution.length > 1 ? "Several candidates" : "Candidate" }} found:
                  <ul>
                    <li ng-repeat="(resolutionIndex, contact) in row.resolution" >
                      <button ng-click="chooseContact()" >Choose</button>
                      {{ contact.match }}: <a href="{{ CRM.url('civicrm/contact/view', {reset:1, cid:contact.contact_id}) }}" target="_blank">({{ contact.contact_id }}) {{ contact.name }}</a>
                    </li>
                  </ul>
                  <input crm-entityref="{entity: 'Contact', select: {allowClear:true, placeholder:ts('Or Select Different Contact')}}" ng-change="chooseContact2()" ng-model="row.contact_id" />
                </div>
                <!-- too many candidates -->
                <div ng-if="row.contact_id == 0 && row.resolution.length == 0 && row.state == 'multiple'">
                  {{ ts('More than 10 candidate contacts.') }}
                  <input crm-entityref="{entity: 'Contact', select: {allowClear:true, placeholder:ts('Select Contact')}}" ng-change="chooseContact2()" ng-model="row.contact_id" />
                </div>
                <div ng-if="row.resolution.length == 0">
                  {{ ts('No matches.') }}
                  <input crm-entityref="{entity: 'Contact', select: {allowClear:true, placeholder:ts('Select Contact')}}" ng-change="chooseContact2()" ng-model="row.contact_id" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div crm-ui-tab crm-title="ts('Download CSV')" id="tab-download" >
      <p>Here you can download a new version of your original CSV file with an
      extra CiviCRM Contact ID column added at the start of it.</p>
      <div class="help" ng-if="csvRecords.length == 0" >
        You can't download anything at the mo, because you haven't uploaded any data yet.
      </div>
      <div ng-if="csvRecords.length > 0" >
        <p><a class="button" href="{{ CRM.url('civicrm/csv-import-helper-download') }}" >Download CSV</a></p>
        <p>Once you're sure you've got the CSV file you can then delete the working copy of the data with this button:</p>
        <button crm-confirm="{message: ts('Sure you want to delete the CSV data you have been working with?')}"
          on-yes="dropData()" >Delete Uploaded CSV Data</button>
      </div>
    </div>
  </div>

<!--div crm-ui-debug="row"></div> -->
